<div>
  <%= form_for @artist do |f| %>
    <h3>CREATE ARTIST</h3>

    <div><%= f.label :name%></div>
    <div><%= f.text_field :name %></div>

    <div><%= f.submit "Add Artist!"%></div>
  <% end %>

</div>
