<div class="welcome-container">
  <img src="https://images.unsplash.com/photo-1470229538611-16ba8c7ffbd7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3acdc9ebaa62c41d40a8f1484b9a7943&auto=format&fit=crop&w=2550&q=80" class="welcome-banner">
  <div class="welcome-text-container">
    <h1 class="welcome-text">Digitize your ticket collection...</h1>
  </div>
</div>
<!-- <div class="intro-container">
  <div class="intro-text">
    <h3>Welcome to Stub Stash</h3>
    <p>Create your own digital ticket collection</p>
  </div>
</div> -->
