<div class="welcome-container">
  <img src="assets/yvette-de-wit-118719-unsplash.jpg" class="welcome-banner">
  <div class="welcome-text-container">
    <h1 class="welcome-text">Digitize your ticket collection...</h1>
  </div>
</div>
