<div class="venue-list-show">
  <% unless @venues.length == 0 %>
  <div class="venue-list-container">
    <div class="venue-list-title">
      <h2>Here are the venues you've added:</h2>
    </div>

    <div class="venue-add-button-container">
      <%= link_to "Add Venue", new_venue_path, class: "new-show-link" %>
    </div>

      <% @venues.each do |venue| %>
      <div class="venue-listing-show">
          <p><%= link_to "#{venue.name} - #{venue.city}, #{venue.state}", venue_path(venue)%></p>
          <%= link_to " Remove ", venue_path(venue), method: :delete, class: 'delete-show-button' %>
        </div>
      <% end %>
  </div>
  <% else %>
    <div class="venue-list-container">
      <div class="venue-list-title">
        <h2>You haven't added any venues yet!</h2>
      </div>
      <div class="venue-add-button-container">
        <%= link_to "Add Venue", new_venue_path, class: "new-show-link" %>
      </div>
    </div>
  <% end %>
</div>
