<div>
  <%= form_for @band do |f| %>
    <h3>CREATE BAND</h3>

    <div><%= f.label :name%></div>
    <div><%= f.text_field :name %></div>

    <div><%= f.submit "Add Band!"%></div>
  <% end %>

</div>
