/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .nav-bar {
   display: flex;
   justify-content: space-between;
   background-color: black;
   }

  .nav-bar-title, .nav-bar-session-container {
    display: inline-flex;

  }

  .nav-bar-link {
    padding: 18px;
    justify-content: center;
  }

  .normal-link {
    color: white;
    text-decoration: none;
    font-family: 'Patua One', cursive;
    font-size: 24px;
    vertical-align: middle;
    text-align: center;
    line-height: 70px;
  }

  .title-link {
    font-family: 'Lobster', cursive;
    font-size: 50px;
    text-decoration: none;
    color: white;
  }

  .welcome-banner {
    width: 100%;
    z-index: 0;
    margin-bottom: -5px;
  }

  .welcome-container {
    align-content: center;
  }

  .welcome-text-container {
    z-index: 1;
    position:absolute;
    bottom: 45%;
    left: 17%;
    width: 80%;
  }

  .welcome-text {
    color: white;
    font-size: 75px;
    font-family: 'Quicksand', sans-serif;
    font-weight:100;
  }

  .jambase-attribution-container {
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
  }

  .jambase-attribution {
    vertical-align: middle;
    text-align: center;
    line-height: 70px;
  }

  .stash-row {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
  }

  .stash-buttons {
    display: flex;
    flex-flow: row;
    justify-content: center;
  }

  .show {
    background-color: rgba(5, 26, 33, .9);
    width: 450px;
    margin: 5% 0%;
    padding: 4%;
    border: 3px black solid;
    color: white;
  }

  .stash-background {
    z-index: -1;
    width: 100%;
  }

  .stash-title {
    display: flex;
    justify-content: space-around;
    color: white;
  }

  .fake-class{
  }

  .flash-message {
    position: relative;
    left: 37%;
    justify-content: center;
    font-family: Arial;
    font-weight: bold;
    font-size: 24px;
  }

  .stash-add-button {
    background-color: rgb(32, 175, 67);
    border-radius: 20px;
    padding: 10px 25px;
  }

  .stash-add-button a {
    color: black;
    text-decoration: none;
    font-family: Arial;
    font-weight: bolder;
  }

  body {
    color: white;
    z-index: 0;
  }

  .stash {
    background-image: url("https://images.unsplash.com/photo-1468359601543-843bfaef291a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7988cfd6c74ccf6e16094939d87dc274&auto=format&fit=crop&w=1653&q=80");
    background-size: cover;
    background-position: calc(100% - 0px) calc(0% - 250px);
  }

  .show-list {
    height: 90%;
    width: auto;
    overflow: auto;
  }

  .artist-list-show {
    background-image: url("https://images.unsplash.com/photo-1453090927415-5f45085b65c0?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a281f105ebc13c0450a98c2e9b681fcc&auto=format&fit=crop&w=1462&q=80");
    background-size: cover;
  }

  .artist-list {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
  }

  .artist {
    background-color: rgba(5, 26, 33, .9);
    width: 200px;
    margin: 5% 0%;
    padding: 4%;
    border: 3px black solid;
    color: white;
    text-align: center;
    font-size: 30px;
  }

  .venue-list-show {
    background-image: url("https://images.unsplash.com/photo-1507901747481-84a4f64fda6d?ixlib=rb-0.3.5&s=5a8979f1d3f696c7f3e9488857d2668c&auto=format&fit=crop&w=2550&q=80");
    background-size: cover;
    height: 700px;
    width: auto;
  }

  .venue-show-page {
    background-image: url("https://images.unsplash.com/photo-1504680177321-2e6a879aac86?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a8111c411923b7c9dbfc11d87f5d9c48&auto=format&fit=crop&w=2550&q=80");
    background-size: cover;
    height: 700px;
    width: auto;

  }

  .artist-show-page {
    background-image: url("https://images.unsplash.com/photo-1495805206262-861053687d6b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ad84af2ba2830951b6de40bd548b335f&auto=format&fit=crop&w=1650&q=80");
    background-size: cover;
    height: 700px;
    width: auto;
  }

  a {
    text-decoration: none;
    color: white;
  }

  #map {
    background-color: rgb(229, 227, 223);
  }
