---
http_interactions:
- request:
    method: get
    uri: http://api.jambase.com/venues?api_key=6zz2uzydt9e4qyy76cz4shut&name=Red%20Rocks%20Amphitheatre&page=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-117.mashery.com
    body:
      encoding: UTF-8
      string: '{"Info":{"TotalResults":1,"PageNumber":0,"Message":"search venue by
        name"},"Venues":[{"Id":177,"Name":"Red Rocks Amphitheatre","Address":"18300
        W. Alameda Parkway","City":"Morrison","State":"Colorado","StateCode":"CO","Country":"US","CountryCode":"US","ZipCode":"80465","Url":"http://www.redrocksonline.com/","Latitude":39.663295,"Longitude":-105.205078}]}'
  recorded_at: Thu, 01 Mar 2018 02:37:01 GMT
recorded_with: VCR 4.0.0
